Repository songhuangcn/admin-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-standardrb, test-rspec, test-eslint

build-backend:
  stage: build
  image: docker:cli
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  cache:
    paths:
    - ./backend/bundle
  script:
  - cd backend
  - touch build.env
  - du -sh bundle || true
  ...

build-frontend:
  stage: build
  image: docker:cli
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  cache:
    paths:
    - ./frontend/pnpm-store
  script:
  - cd frontend
  - touch build.env
  - du -sh pnpm-store/ || true
  ...

test-standardrb:
  stage: test
  variables:
    GIT_STRATEGY: none
  before_script:
  - cd /app
  image: $IMAGE_TAG_BACKEND_DEV
  needs:
  - build-backend
  script:
  - bundle exec standardrb

test-rspec:
  stage: test
  variables:
    GIT_STRATEGY: none
    MYSQL_ROOT_PASSWORD: password
    TZ: Asia/Shanghai
    DATABASE_HOST: mysql
    DATABASE_USERNAME: root
    DATABASE_PASSWORD: password
  before_script:
  - cd /app
  image: $IMAGE_TAG_BACKEND_DEV
  needs:
  - build-backend
  services:
  - mysql:8.0
  script:
  ...

test-eslint:
  stage: test
  variables:
    GIT_STRATEGY: none
  before_script:
  - cd /app
  image: $IMAGE_TAG_FRONTEND_DEV
  needs:
  - build-frontend
  script:
  - pnpm lint --max-warnings=0

docs: add multiple-language docs
  README.md
  README.zh-CN.md
  frontend/src/locale/en-US/menu.ts
Due: build-frontend, test-eslint

update: vue@^3.4 vite@^5.0
  frontend/config/plugin/autoImport.ts
  frontend/config/vite.config.base.ts
  frontend/config/vite.config.prod.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/interceptor.ts
  frontend/src/main.ts
  frontend/src/store/modules/user/index.ts
  frontend/src/types/auto-imports.d.ts
  frontend/src/types/axios.d.ts
  frontend/src/types/components.d.ts
  frontend/tsconfig.json
Due: build-frontend, test-eslint

docs: add related links
  README.md
  README.zh-CN.md
Due: none

K8s deploy
  .gitlab-ci.yml
  deploy/.gitignore
  deploy/Makefile
  deploy/base/app-sealed-secret.yaml
  deploy/base/config/nginx-server.conf
  deploy/base/config/sealed-secret.crt
  deploy/base/configmap.yaml
  deploy/base/docker-sealed-secret.yaml
  deploy/base/ingress.yaml
  deploy/base/kustomization.yaml
  deploy/base/mysql.yaml
  deploy/base/nginx.yaml
  deploy/base/rails.yaml
  deployment/.gitignore
  deployment/Makefile
  deployment/data/storage/.keep
  deployment/docker-compose.prod.yml
  deployment/log/.keep
  deployment/secrets/.env.sample
  deployment/secrets/.keep
Due: build-backend, build-frontend, test-standardrb, test-rspec, test-eslint

Fix frontend build error
  frontend/package.json
  frontend/src/components/tab-bar/tab-item.vue
Due: build-frontend, test-eslint

update deploy config
  deploy/Makefile
  deploy/base/kustomization.yaml
Due: none

Path conditions:
  build-backend: any of: .gitlab-ci.yml, backend/**/*
  build-frontend: any of: .gitlab-ci.yml, frontend/**/*
  test-standardrb: any of: .gitlab-ci.yml, backend/**/*
  test-rspec: any of: .gitlab-ci.yml, backend/**/*
  test-eslint: any of: .gitlab-ci.yml, frontend/**/*
